table {
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  padding: 10px;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-weight: bold;
} 

.search-container {
    float: right;
    background-color: #e9e9e9;
    width: 100%;
    padding: 10px 0;
    form {     
      float: right;
    }
    input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }  
     button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }  
      button:hover {
      background: #ccc;
    }
} 